* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  transition: all ease 0.1s;
}

.main {
  background: rgb(25, 25, 25);
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    color: white;
  }
}

.input-container {
  background: transparent;
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;
  width: 550px;
  outline: none;
  display: flex;
  gap: 30px;
}

#task-input {
  font-size: 1.2rem;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  flex: 0.7;
}

.tasks {
  width: 550px;
  height: fit-content;
  border-radius: 10px;
  max-height: 550px;
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.checkbox {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  background-color: none;
  border-radius: 50%;
  border: 1px solid #ddd;
  appearance: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox:checked:before {
  content: "\2713";
  visibility: visible;
  color: white;
  font-size: 55px;
}

.task {
  display: flex;
  gap: 30px;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 20px 10px;
  align-items: center;
  width: 100%;
  height: fit-content;
  p {
    height: fit-content;
  }
}

.task .content {
  width: 80%;
  word-break: break-all;
}
.task:hover {
  background: rgb(45, 45, 45);
}

.task .delete-task {
  border: none;
  cursor: pointer;
  margin: 0 0 0 auto;
  background: transparent;
  max-width: 32px;
  max-height: 32px;
  cursor: pointer;

  color: rgb(203, 0, 27);
  font-size: 20px;

  &:hover {
    color: rgb(225, 0, 0);
  }
}

.footer {
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 25px;
  color: white;
  font-size: 1.5rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;

  .items-remaining {
    font-size: 1rem;
  }

  .task-status {
    gap: 2px;
    display: flex;
  }

  button {
    background: transparent;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    &:hover {
      background: rgba(128, 128, 128, 0.281);
    }
  }
  .active-filter {
    background-color: #dddddd44;
  }
}

.edit-input {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.strikethrough {
  text-decoration: line-through;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 660px) {
  * {
    font-size: small;
  }

  .input-container,
  .footer,
  .tasks {
    width: 90%;
  }

  .content {
    width: 60%;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .checkbox,
  #toggle-check {
    width: 22px;
    height: 22px;
  }

  .task-status {
    flex-direction: column;
    align-items: center;
  }

  #task-input {
    width: 80%;
  }
}
